<div>

    <h1>Logeate</h1>

    <form id="loginForm">     
      

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

    <p>Tambien Puedes Ingresar Por Github</p>
    <a href="/api/sessions/github"><button>github</button></a>
</div>

<script src="/js/login.js"></script>